.card {
  width: 1110px;
  height: 466px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.54rem;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  margin: 11.8rem 11rem;
}
