.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 1110px;
  height: 446px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.54rem;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  margin: 11.8rem 11rem;
  display: flex;

  &__heading {
    font-size: 36px;
    font-family: $font-inter;
    font-weight: 700;
    line-height: 44px;
    margin: 71px 0 25px 72px;
  }

  &__heading--highlight {
    color: var(--soft-violet);
  }

  &__paragraph {
    font-size: 15px;
    font-family: $font-inter;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.75;
    mix-blend-mode: normal;
    margin-left: 71.5px;
    margin-bottom: 72px;
    margin-right: 108px;
  }

  &__stats {
    display: flex;
    flex-direction: row;
  }

  &__hero {
    width: 450px;
    height: 446px;
    margin-left: 95px;
  }
}
