.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 1110px;
  height: 446px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.5333rem;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  margin: 11.8rem 11rem;
  display: flex;

  @media only screen and (max-width: $bp-small) {
    width: 327px;
    height: 780px;
    margin: 88px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    font-size: 2.4rem;
    font-family: $font-inter;
    font-weight: 700;
    line-height: 2.94rem;
    margin: 4.74rem 0 1.67rem 4.8rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.86rem;
      line-height: 2.13rem;
      margin: 2.66666rem 2.1rem 1.06666rem 2.1rem;
      text-align: center;
    }
  }

  &__heading--highlight {
    color: var(--soft-violet);
  }

  &__paragraph {
    font-size: 1rem;
    font-family: $font-inter;
    font-weight: 400;
    line-height: 1.66rem;
    opacity: 0.75;
    color: var(--slightly-transparent-white-main-paragraph);
    mix-blend-mode: normal;
    margin-left: 4.76rem;
    margin-bottom: 4.8rem;
    margin-right: 3.2rem;

    @media only screen and (max-width: $bp-small) {
      line-height: 1.66666rem;
      margin-left: 2.06666rem;
      margin-bottom: 2.06666rem;
      margin-right: 2.1333rem;
      text-align: center;
    }
  }

  &__stats {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $bp-small) {
      width: 327px;
      height: 56px;
      display: flex;
      flex-direction: column;
    }

    &--box1 {
      margin: 0 5.3333rem 0 4.76rem;

      @media only screen and (max-width: $bp-small) {
        margin: 0 32px 24px 31px;
        display: flex;
        flex-direction: column;
      }
    }

    &--box2 {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-small) {
        margin: 24px 32px 24px 31px;
        display: flex;
        flex-direction: column;
      }
    }

    &--box3 {
      margin-right: 2.067rem;

      @media only screen and (max-width: $bp-small) {
        margin: 24px 32px 32px 31px;
        display: flex;
        flex-direction: column;
      }
    }

    &-stat {
      font-size: 1.6rem;
      font-family: $font-inter;
      font-weight: 700;
      line-height: 1.94rem;
      margin-bottom: 0.13rem;

      @media only screen and (max-width: $bp-small) {
        text-align: center;
      }
    }

    &-title {
      font-size: 0.8rem;
      font-family: $font-lexend-deca;
      font-weight: 400;
      line-height: 1.67rem;
      letter-spacing: 0.067rem;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.6;

      @media only screen and (max-width: $bp-small) {
        text-align: center;
      }
    }
  }

  &__hero {
    margin-left: 6.3rem;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__hero::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    background: var(--soft-violet);
    opacity: 1;
    border-radius: 0 0.5333rem 0.5333rem 0;
  }

  img {
    border-radius: 0 0.5333rem 0.5333rem 0;

    @media only screen and (max-width: $bp-small) {
      border-radius: 0.5333rem 0.5333rem 0 0;
    }
  }

  &__hero--mobile {
    display: none;
    position: relative;
    height: 240px;

    @media only screen and (max-width: $bp-small) {
      display: block;
      position: absolute;
      left: 24px;
      top: 85px;
    }
  }

  &__hero--mobile::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    background: var(--soft-violet);
    opacity: 1;
    border-radius: 0.5333rem 0.5333rem 0 0;
  }
}
//Useful Links
//Color overlay
/*https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image/36679903*/
// Changing image on desktop to mobile
/*https://stackoverflow.com/questions/28966158/changing-image-depending-on-mobile-or-desktop-html-css/28966485*/
// Responsive Images
/*https://www.internetingishard.com/html-and-css/responsive-images/*/
